/* Footer */
.footer {
	background-color: #232f3E;
	padding: 20px 0;
	color: white;
	text-align: center;
  }
  
  .footer-logo {
	font-size: 24px;
	font-weight: bold;
  }
  
  .footer-links {
	margin-top: 10px;
  }
  
  .footer-link {
	color: white;
	text-decoration: none;
	margin: 0 10px;
  }
  
  /* Apply a color on hover */
  .footer-link:hover {
	color: green;
  }
  