/* Navbar */
.navbar {
	background-color: blue;
	padding: 1rem 1rem;
  }
  
  .navbar-logo {
	color: white;
	font-size: 24px;
	font-weight: bold;
	margin: 0px 5rem;
  }
  
  .navbar-links {
	display: flex;
	align-items: center;
  }
  
  .navbar-link {
	margin-right: 5rem;
	color: white;
	text-decoration: none;
	font-size: large;
  }
  
  /* Apply a color on hover */
  .navbar-link:hover {
	color: green;
  }
  