
.products-page {
  text-align: center;
  padding: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  width: 80%;
  margin: 3rem auto;
  justify-items: center;
}

.product-card {
  border: 1px solid #ccc;
  padding: 20px;
  width: 100%;
  text-align: center;
}

.product-card img {
  width: 100%; 
  height: 200px; 
  object-fit: cover; 
  margin-bottom: 10px;
}

.product-card h3 {
  margin: 10px 0;
}

.product-card p {
  margin: 0;
}