.products-page {
	text-align: center;
	padding: 20px;
}
.products-item h2 {
	text-align: center;
	color: white;
	padding: 1rem 0px;
	background-color: #131921;
}

.product-grid {
	display: flex;
	gap: 15px;
	margin: 2rem 10px;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
}
